<!-- partner_selection.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Страница выбора партнера</h2>

    <p>Выберите из списка:</p>
    <ul>
        {% for partner in partners %}
        <li>
            <a href="{% url 'users:preferences' partner.id %}">
                <img src="{{ partner.photo.url }}" alt="{{ partner.username }}'s photo" width="50" height="50">
                {{ partner.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
