<!-- users/templates/users/search_users.html -->
{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="search-results-container">
    <h2>Результаты поиска</h2>
    {% if users %}
    <ul class="user-list">
        {% for user in users %}
        <li>
            <a href="{% url 'users:user_profile' user.id %}" class="user-link">
                <img src="{{ user.photo.url }}" alt="{{ user.username }}'s photo" class="user-photo">
                <span class="user-username">{{ user.username }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No users found matching your query.</p>
    {% endif %}
</div>
{% endblock %}
