<!-- users/templates/users/search_users.html -->
{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h2>Search Results</h2>
{% if users %}
    <ul>
        {% for user in users %}
            <li>
                <a href="{% url 'users:user_profile' user.id %}">
                    <img src="{{ user.photo.url }}" alt="{{ user.username }}'s photo" width="50" height="50">
                    {{ user.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users found matching your query.</p>
{% endif %}
{% endblock %}