<!-- films/templates/films/film_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ film.title }}{% endblock %}

{% block content %}
<div class="film-detail-container">
    <h2>{{ film.name }}</h2>

    <div class="film-detail-info">
        <p><strong>Год выпуска:</strong> {{ film.year }}</p>
        
        <p><strong>Жанр:</strong>
            <ul class="film-genres-list">
                {% for genre in genres %}
                    {{ genre.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </ul>
        </p>

        <p><strong>Страна:</strong> {{ film.country }}</p>
    </div>

    <img src="{{ film.poster.url }}" alt="{{ film.title }} poster" class="film-poster">

    <div class="film-description">
        <p><strong>Описание:</strong> {{ film.description }}</p>
    </div>
</div>
{% endblock %}
